*{
  box-sizing: border-box;
    
}


html,body{
  font-family: kollektif,Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
    margin: 0;

}

header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.05)), url(../IMG/Fondo.jpg);
    height: 100vh;
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen */
  }


  nav img{
    width: 167px;
    height: 45px;
    vertical-align: middle;
  }


  nav  a .logo{
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
  }

  header nav{
    height: 90px;
  }

  nav .inicio{
    color: #fff;
    float: right;
    background-color: blue;
    line-height: normal;
    margin-top: 18px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
  }

  .tituloSubtitulo{
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
  }

  .titulo{
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
  }

  .subtitulo{
    margin: 0 0 .5em;
  }

  .btn{
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    color: #fff;
    background-color: blue;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    border-radius: 2px;
    user-select: none;
    text-align: center;
    border: 0;

  }

  nav .inicio:hover, .btn:hover{
    background-color: darkblue;
  }

  .funciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #141414;
    
  }


  .funciones-nav{
    
    padding-top: 35px;
    background-color: #141414;
    border-bottom: 2px solid #3d3d3d;

  }


  .funciones-nav a{
    
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
  }


  .funciones-nav a:hover{
    color: white;
  }


  .funciones-nav a img{
    height: 49px;
  }


  .funciones-nav a h2{
    margin: 10px 0 0;
    font-size: 1em;

  }


  .columns{
    
    display: flex;
  }


  .columns{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }


  .center{
    margin: 0 auto;
  }

  .size-80{
    width: 80%;
  }